HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Kotlin ###
.kotlin

### Secrets / Local Config ###
*.yml
*.yaml
*.properties
*.env
.env
.env.*
application.yml
application.yaml
application-*.yml
application-*.yaml
bootstrap.yml
bootstrap.yaml
bootstrap-*.yml
bootstrap-*.yaml

### QueryDSL generated Q files ###
**/Q*.java
**/Q*.kt
**/generated/**
**/build/generated/**